.git/
.gitignore
bin/
build/
*.exe
*.exe~
*.dll
*.so
*.dylib
vendor/
node_modules/
.IDea/
.vscode/
*.swp
*.swo
*.iml
.env
.env.local
.env.*.local
.env.example
config/config.local.yaml
coverage.out
coverage.html
prof.out
integration-test/
e2e-test/
*.test
README.md
docs/
swagger/
Makefile
oapi-codegen.yml
.golangci.yml
.air.toml
