.git
.gitignore
*.md
docs/

bin/
build/
*.exe
*.exe~
*.dll
*.so
*.dylib

vendor/
node_modules/

.env
.env.*
.env.local
.env.example
.env.local.example
config/config.local.yaml
integration-test/
e2e-test/
*.test
coverage.out
coverage.html
prof.out

.mockery/
.golangci.yml
.air.toml
.IDea/
.vscode/
.cursor/
*.swp
*.swo
*.iml

Makefile
oapi-codegen.yml
oapi-codegen/

schema/
*.log
log.txt
