server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 5s
    relabel_configs:
      - source_labels: ['__meta_docker_container_name']
        regex: '/(.*)'
        target_label: 'container'
      - source_labels: ['__meta_docker_container_log_stream']
        target_label: 'stream'
      - source_labels: ['__meta_docker_container_label_com_docker_compose_service']
        target_label: 'compose_service'
      - source_labels: ['__meta_docker_container_id']
        target_label: 'container_id'
    pipeline_stages:
      - json:
          expressions:
            output: log
            stream: stream
            time: time
            attrs: attrs
      - json:
          expressions:
            tag: attrs.tag
          source: attrs
      - regex:
          expression: (?P<container_name>(?:[^|]*))\|(?P<image_name>(?:[^|]*))\|(?P<image_id>(?:[^|]*))\|(?P<container_id>(?:[^|]*))
          source: tag
      - timestamp:
          format: RFC3339Nano
          source: time
      - labels:
          stream:
          container:
          compose_service:
      - match:
          selector: '{compose_service="backend"}'
          stages:
            - json:
                expressions:
                  level: level
                  msg: msg
                  trace_id: trace_id
                  component: component
            - labels:
                level:
                component:
            - output:
                source: msg
      - match:
          selector: '{compose_service="postgres"}'
          stages:
            - regex:
                expression: '^(?P<timestamp>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d+ \w+) \[(?P<pid>\d+)\] (?P<level>\w+):  (?P<message>.*)$'
            - labels:
                level:
                pid:
            - output:
                source: message
      - match:
          selector: '{compose_service="postgres-exporter"}'
          stages:
            - regex:
                expression: '^.*level=(?P<level>\w+).*msg="(?P<message>[^"]*)".*$'
            - labels:
                level:
            - output:
                source: message
      - output:
          source: output
