global:
  resolve_timeout: 5m

route:
  group_by: ["alertname"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h
  receiver: "telegram-notifications"

inhibit_rules:
  - source_matchers:
      - alertname = "InstanceDown"
    target_matchers:
      - severity = "critical"
    equal: ["instance"]

receivers:
  - name: "telegram-notifications"
    telegram_configs:
      - bot_token: REPLACE_TELEGRAM_BOT_TOKEN
        chat_id: REPLACE_TELEGRAM_CHAT_ID
        parse_mode: "HTML"
        message: |
          <b>{{ .Status | toUpper }}</b>: {{ .GroupLabels.alertname }}
          {{ range .Alerts }}
          <b>Instance:</b> {{ .Labels.instance }}
          <b>Description:</b> {{ .Annotations.description }}
          {{ end }}
